<?js
var data = obj;
var packages = data.cjs_pkgs;
?>

<?js if (data.cjs_lib) { ?>

    <h3 class="subsection-title">Controls.js</h3>
    <ul class="subsection-list"><li>
        <span><b>library:</b> <?js= data.cjs_lib ?></span>

        <?js if (packages && packages.length && packages.forEach) { ?>
            <ul>
                <?js packages.forEach(function(pkg) { ?>
                    <li><b>package:</b> <?js= pkg ?></li>
                <?js }); ?>
            </ul>
        <?js } ?>
    </li></ul>
<?js } ?>