<?js
  var data = obj;
  var examples = data.examples;
?>

<?js if (examples && examples.length && examples.forEach) { ?>

  <?js examples.forEach(function(example){ ?>
    <pre><code class="language-javascript"><?js= example ?></code></pre>
  <?js }); ?>

<?js } ?>