<?js
  var data = obj;
  var self = this;
?>

<section class="mainpage">

  <header>
    <h2 class="name">
      <?js= env.conf.templates.applicationName ?>
    </h2>
  </header>

  <?js if(data.readme){ ?>
    <article class="readme"><?js= data.readme ?></article>
  <?js } ?>

  <article>

  </article>

</section>