<?js
  var data = obj;
  var self = this;
?>

<section class="mainpage">

  <header>
    <h1 class="name">Packages</h1>
  </header>

  <article>

    <?js if(data.docs && data.docs.length){ ?>
      <dl>
        <?js data.docs.forEach(function(doc){ ?>
          <dt>
            <div class="nameContainer">
              <h4 class="name" id="<?js= doc.id ?>"><?js= doc.name ?></h4>
            </div>
          </dt>

          <dd class="member-content">
            <?js if(doc.description){ ?>
              <div class="description"><?js= doc.description ?></div>
            <?js } ?>

            <?js= self.partial('details.tmpl',doc) ?>

            <?js
              var cond = {isArray: true,has: doc.longname};
              var classes = self.find({inpackage: cond,kind: 'class'});
              var namespaces = self.find({inpackage: cond,kind: 'namespace'});
              var typedefs = self.find({inpackage: cond,kind: 'typedef'});
              var interfaces = self.find({inpackage: cond,kind: 'interface'});
              var files = self.find({inpackage: cond,kind: 'file'});
            ?>

            <?js if(classes && classes.length){ ?>
              <h5>Classes:</h5>
              <ul>
                <?js classes.forEach(function(c){ ?>
                  <li><?js= self.linkto(c.longname,c.name) ?></li>
                <?js }); ?>
              </ul>
            <?js } ?>

            <?js if(namespaces && namespaces.length){ ?>
              <h5>Namespaces:</h5>
              <ul>
                <?js namespaces.forEach(function(n){ ?>
                  <li><?js= self.linkto(n.longname,n.name) ?></li>
                <?js }); ?>
              </ul>
            <?js } ?>

            <?js if(typedefs && typedefs.length){ ?>
              <h5>Type Definitions:</h5>
              <ul>
                <?js typedefs.forEach(function(t){ ?>
                  <li><?js= self.linkto(t.longname,t.name) ?></li>
                <?js }); ?>
              </ul>
            <?js } ?>

            <?js if(interfaces && interfaces.length){ ?>
              <h5>Interfaces:</h5>
              <ul>
                <?js interfaces.forEach(function(i){ ?>
                  <li><?js= self.linkto(i.longname,i.name) ?></li>
                <?js }); ?>
              </ul>
            <?js } ?>

            <?js if(files && files.length){ ?>
              <h5>Files:</h5>
              <ul>
                <?js files.forEach(function(f){ ?>
                  <li><?js= self.linkto(f.longname,f.name) ?></li>
                <?js }); ?>
              </ul>
            <?js } ?>

          </dd>

        <?js }); ?>
      </dl>
    <?js } ?>

  </article>

</section>