<?js
    var params = obj;

    /* determine if we need extra columns, "attributes" and "default" */
    var hasAttributes = false;
    var hasDefault = false;
    var hasName = false;

    params.forEach(function(param) {
        if (!param) { return; }
        if (param.name) { hasName = true; }
        if (typeof param.defaultvalue !== 'undefined') { hasDefault = true; }
        if (param.optional || param.nullable || param.variable) {
            hasAttributes = true;
        }
    });

    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        if (!param) { return; }
        param.longname = param.name;
        if ( parentParam && param.name && param.name.indexOf(parentParam.name + '.') === 0 ) {
            param.name = param.name.substr(parentParam.name.length+1);

            if(!parentParam.subparams){
                parentParam.subparams = {
                    params: [],
                    param_level: 1,
                    has_attributes: hasAttributes,
                    has_default: hasDefault,
                    has_name: hasName
                };
            }

            parentParam.subparams.params.push(param);
            params[i] = null;
        }
        else {
            parentParam = param;
        }
    });
?>

<table class="params">
    <thead>
	<tr>
		<?js if (hasName) {?>
		<th>Name</th>
		<?js } ?>

		<th>Type</th>

		<?js if (hasDefault) {?>
		<th>Default</th>
		<?js } ?>

		<th class="last">Description</th>
	</tr>
	</thead>

	<tbody>
	<?js
        var self = this;
	    params.forEach(function(param) {
	        if (!param) { return; }
	?>

        <tr>
            <?js if (hasName) {?>
                <td class="name">
                  <span class="param-name"><?js= param.name ?></span>
                </td>
            <?js } ?>

            <td class="type">
            <?js if (param.type && param.type.names) {?>
                <?js= self.partial('type.tmpl', param.type.names) ?>
            <?js } ?>
            </td>

            <?js if (hasDefault) {?>
                <td class="default">
                <?js if (typeof param.defaultvalue !== 'undefined') { ?>
                    <?js= self.htmlsafe(param.defaultvalue) ?>
                <?js } ?>
                </td>
            <?js } ?>

            <td class="description last">
                <?js if (hasAttributes) {?>
                    <?js if (param.optional) { ?>
                        <span class="optional">optional</span>
                    <?js } ?>
                    <?js if (param.nullable) { ?>
                        <span class="nullable">nullable</span>
                    <?js } ?>

                    <?js if (param.variable) { ?>
                        <span class="repeatable">repeatable</span>
                    <?js } ?>
                <?js } ?>
                <?js= param.description ?>
            </td>
        </tr>
        <?js if (param.subparams) { ?>
            <?js= self.partial('subparams.tmpl', param.subparams) ?>
        <?js } ?>

	<?js }); ?>
	</tbody>
</table>