<?js
  var data = obj;
  var props = data.properties;
?>

<?js if (props && props.length && props.forEach) { ?>

<dl class="details">
  <?js if((data.kind === 'member') || (data.kind === 'typedef')){ ?>
    <?js if(!data.isEnum){ ?>
      <h5>Properties:</h5>
    <?js } ?>
  <?js }else{ ?>
    <h3>Properties</h3>
  <?js } ?>
<?js
    /* determine if we need extra columns, "attributes" and "default" */
    var hasAttributes = false;
    var hasDefault = false;
    var hasName = false;

    props.forEach(function(prop) {
        if (!prop) { return; }
        if (prop.name) { hasName = true; }
        if (typeof prop.defaultvalue !== 'undefined') { hasDefault = true; }
        if (
            prop.optional && data.kind
            && ((data.kind === 'typedef') || (data.kind === 'interface'))
        ) {
          hasAttributes = true;
        }
    });

    /* sort subprops under their parent props (like opts.classname) */
    var parentProp = null;
    props.forEach(function(prop, i) {
        if (!prop) { return; }
        prop.longname = prop.name;
        if ( parentProp && prop.name && prop.name.indexOf(parentProp.name + '.') === 0 ) {
            prop.name = prop.name.substr(parentProp.name.length+1);

            if(!parentProp.subprops){
                parentProp.subprops = {
                    props: [],
                    prop_level: 1,
                    has_attributes: hasAttributes,
                    has_default: hasDefault,
                    has_name: hasName
                };
            }

            parentProp.subprops.props.push(prop);
            props[i] = null;
        }
        else {
            parentProp = prop;
        }
    });
?>

    <table class="props" my="test">
        <thead>
        <tr>
            <?js if (hasName) {?>
            <th>Name</th>
            <?js } ?>

            <th>Type</th>

            <?js if (hasDefault) {?>
            <th>Default</th>
            <?js } ?>

            <th class="last">Description</th>
        </tr>
        </thead>

        <tbody>
        <?js
            var self = this;
            props.forEach(function(prop) {
                if (!prop) { return; }
        ?>
            <tr id="property:<?js= prop.longname ?>">
                <?js if (hasName) {?>
                    <td class="name">
                      <span class="param-name"><?js= prop.name ?></span>
                    </td>
                <?js } ?>

                <td class="type">
                <?js if (prop.type && prop.type.names) {?>
                    <?js= self.partial('type.tmpl', prop.type.names) ?>
                <?js } ?>
                </td>

                <?js if (hasDefault) {?>
                    <td class="default">
                    <?js if (typeof prop.defaultvalue !== 'undefined') { ?>
                        <?js= self.htmlsafe(prop.defaultvalue) ?>
                    <?js } ?>
                    </td>
                <?js } ?>

                <td class="description last">
                  <?js if (hasAttributes) {?>
                      <?js if (prop.optional) { ?>
                        <span class="optional">optional</span>
                      <?js } ?>

                  <?js } ?>
                  <?js= prop.description ?>
                </td>
            </tr>
            <?js if (prop.subprops) { ?>
                <?js= self.partial('subproperties.tmpl', prop.subprops) ?>
            <?js } ?>

        <?js }); ?>
        </tbody>
    </table>
</dl>
<?js } ?>