<?js
  var self = this;
?>

<script><?js= self.readFile('navigation_search.js') ?></script>
<style type="text/css"><?js= self.renderLess('navigation.less') ?></style>

<div class="navigation">

  <h3 class="applicationName">
    <a href="index.html"><?js= env.conf.templates.applicationName ?></a>
  </h3>

  <div class="search">
    <input id="nav-search" type="text" placeholder="Search Documentations"/>
  </div>

  <ul id="nav-list" class="list">
    <?js
      self.data.forEach(function(item){
        print(self.partial('navigation_item.tmpl',item));
      });
    ?>
  </ul>

</div>