::-webkit-scrollbar{
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 4px;
}
.navigation{
  position: fixed;
  float: left;
  width: 320px;
  height: 100%;
  background-color: #1a1a1a;

  .applicationName{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 10px;
    margin: 0px;
    padding: 10px 15px;
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    a{
      outline: 0;
      color: #ffffff;
      text-decoration: none;
      &:hover,
      &:focus{
        color: #cccccc;
        text-decoration: underline;
      }
    }
  }

  .search{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 52px;
    padding: 10px 15px;

    input{
      width: 90%;
      padding: 4px 5% 4px 5%;
      font-size: 12px;
      line-height: 20px;
      border: 1px solid #555555;
      background-color: #333333;
      color: #fff;
      display: none;
    }
  }

  .list{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 112px;
    bottom: 0px;
    overflow: auto;
    padding: 0px 15px;
  }

  li.item{
    border-top: 1px solid #333;

    a{
      outline: 0;
      color: #bbb;
      text-decoration: none;
      &:hover,
      &:focus{
        color: #fff;
      }
    }

    .title{
      cursor: default;
      position: relative;
      display: block;
      font-size: 13px;
      padding: 8px 0px;
      min-height: 17px;

      a{
        outline: 0;
        color: #e1e1e1;
        text-decoration: none;
        &:hover,
        &:focus{
          color: #fff;
        }
      }

      .type-signature{
        position: relative;
        display: block;
        border-radius: 3px;
        font-size: 11px;
        padding: 2px 5px;
        float: right;
      }

      .static{
        background-color: #779c34;
        color: #000;
      }
      .module,
      .namespace{
        background-color: #808080;
        color: #000;
      }
    }

    .subtitle{
      cursor: default;
      font-size: 10px;
      font-weight: bold;
      color: #779c34;
      display: block;
    }

    .itemMembers{
      margin-bottom: 10px;
      li{
        margin-top: 2px;
      }
    }

    ul{
      & > li{
        font-size: 11px;
        padding-left: 8px;
      }
    }
  }
}