<?js
  var self = this;
?>

<style type="text/css"><?js= self.renderLess('navigation.less') ?></style>

<div class="navigation">

  <h3 class="applicationName">
    <?js= env.conf.templates.applicationName ?>
  </h3>

  <div class="icons">
    <a href="index.html" class="icon index">
      <img src="icons/freepik/home.png" alt="Index" title="Index">
    </a>

    <?js if(self.data.files && self.data.files.length){ ?>
      <a href="files.html" class="icon files">
        <img src="icons/freepik/file.png" alt="Files" title="Files">
      </a>
    <?js } ?>

    <?js if(self.data.modules && self.data.modules.length){ ?>
      <a href="modules.html" class="icon modules">
        <img src="icons/freepik/package.png" alt="Packages" title="Packages">
      </a>
    <?js } ?>
  </div>

  <div class="search">
    <input id="nav-search" type="text" placeholder="Search Documentations"/>
  </div>

  <ul id="nav-list" class="list">
    <?js
      self.data.members.forEach(function(item){
        print(self.partial('navigation_item.tmpl',item));
      });
    ?>
  </ul>

</div>

<script><?js= self.readFile('navigation_search.js') ?></script>