<?js
  var data = this.docs;
  var self = this;
?>

<li class="item" data-name="<?js= data.navname ?>">

  <span class="title">
    <?js
      if(data.signatures && data.signatures.length){
        var signs = data.signatures.slice().reverse();
        signs.forEach(function(sign){
    ?>
        <span class="type-signature <?js= sign.toLowerCase() ?>">
          <?js= sign ?>
        </span>
      <?js }); ?>
    <?js } ?>

    <?js= self.linkto(data.longname,data.navname) ?>
  </span>

  <?js if(data.properties && data.properties.length){ ?>
    <ul class="members itemMembers">
      <span class="subtitle">Properties</span>
      <?js data.properties.forEach(function(v){
        if(!v){return;} ?>
        <li data-name="<?js= v.navname ?>">
          <?js= self.linkto(
            data.longname,v.name,undefined,'property:'+v.name
          ) ?>
        </li>
      <?js }); ?>
    </ul>
  <?js } ?>

  <?js if(data.typedefs && data.typedefs.length){ ?>
    <ul class="typedefs itemMembers">
      <span class="subtitle">Typedefs</span>
      <?js data.typedefs.forEach(function(v){ ?>
        <li data-name="<?js= v.navname ?>">
          <?js= self.linkto(v.longname,v.name) ?>
        </li>
      <?js }); ?>
    </ul>
  <?js } ?>

  <?js if(data.members && data.members.length){ ?>
    <ul class="members itemMembers">
      <span class="subtitle">Members</span>
      <?js data.members.forEach(function(v){ ?>
        <li data-name="<?js= v.navname ?>">
          <?js= self.linkto(v.longname,v.name) ?>
        </li>
      <?js }); ?>
    </ul>
  <?js } ?>

  <?js if(data.interfaces && data.interfaces.length){ ?>
    <ul class="methods itemMembers">
      <span class="subtitle">Interfaces</span>
      <?js data.interfaces.forEach(function(i){ ?>
        <li data-name="<?js= i.navname ?>">
          <?js= self.linkto(i.longname,i.name) ?>
        </li>
      <?js }); ?>
    </ul>
  <?js } ?>

  <?js if(data.methods && data.methods.length){ ?>
    <ul class="methods itemMembers">
      <span class="subtitle">Methods</span>
      <?js data.methods.forEach(function(m){ ?>
        <li data-name="<?js= m.navname ?>">
          <?js= self.linkto(m.longname,m.name) ?>
        </li>
      <?js }); ?>
    </ul>
  <?js } ?>

  <?js if(data.events && data.events.length){ ?>
    <ul class="events itemMembers">
      <span class="subtitle">Events</span>
      <?js data.events.forEach(function(e){ ?>
        <li data-name="<?js= e.navname ?>">
          <?js= self.linkto(e.longname,e.name) ?>
        </li>
      <?js }); ?>
    </ul>
  <?js } ?>

  <?js if(data.childitems && data.childitems.length){ ?>
    <ul class="sublist">
      <?js
        data.childitems.forEach(function(item){
          print(self.partial('navigation_item.tmpl',item));
        });
      ?>
    </ul>
  <?js } ?>

</li>