html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial CE, Helvetica CE, Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #333333;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
#wrap {
  position: relative;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}
.navigation {
  position: fixed;
  float: left;
  width: 320px;
  height: 100%;
  background-color: #1a1a1a;
}
.navigation .applicationName {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 10px;
  margin: 0px;
  padding: 10px 15px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.navigation .applicationName a {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
}
.navigation .applicationName a:hover,
.navigation .applicationName a:focus {
  color: #cccccc;
  text-decoration: underline;
}
.navigation .search {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 52px;
  padding: 10px 15px;
}
.navigation .search input {
  width: 90%;
  padding: 4px 5% 4px 5%;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #555555;
  background-color: #333333;
  color: #fff;
  display: none;
}
.navigation .list {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 112px;
  bottom: 0px;
  overflow: auto;
  padding: 0px 15px;
}
.navigation li.item {
  border-top: 1px solid #333;
}
.navigation li.item a {
  outline: 0;
  color: #bbb;
  text-decoration: none;
}
.navigation li.item a:hover,
.navigation li.item a:focus {
  color: #fff;
}
.navigation li.item .title {
  cursor: default;
  position: relative;
  display: block;
  font-size: 13px;
  padding: 8px 0px;
  min-height: 17px;
}
.navigation li.item .title a {
  outline: 0;
  color: #e1e1e1;
  text-decoration: none;
}
.navigation li.item .title a:hover,
.navigation li.item .title a:focus {
  color: #fff;
}
.navigation li.item .title .type-signature {
  position: relative;
  display: block;
  border-radius: 3px;
  font-size: 11px;
  padding: 2px 5px;
  float: right;
}
.navigation li.item .title .static {
  background-color: #779c34;
  color: #000;
}
.navigation li.item .title .module,
.navigation li.item .title .namespace {
  background-color: #808080;
  color: #000;
}
.navigation li.item .subtitle {
  cursor: default;
  font-size: 10px;
  font-weight: bold;
  color: #779c34;
  display: block;
}
.navigation li.item .itemMembers {
  margin-bottom: 10px;
}
.navigation li.item .itemMembers li {
  margin-top: 2px;
}
.navigation li.item ul > li {
  font-size: 11px;
  padding-left: 8px;
}
.main {
  padding: 20px 20px;
  margin-left: 320px;
}
.main .page-title {
  display: none;
}
.main h1 {
  font-weight: bold;
  font-size: 26px;
  margin: 0;
}
.main h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.main h3 {
  font-weight: bold;
  font-size: 12px;
  margin: 5px 0;
}
.main h4 {
  font-weight: bold;
  font-size: 16px;
  margin: 15px 0px 15px 0px;
}
.main h5 {
  font-weight: bold;
  font-size: 12px;
  margin: 15px 0px 15px 0px;
}
.main h6 {
  font-size: 12px;
  font-style: normal;
}
.main a {
  outline: 0;
  color: #428bca;
  text-decoration: none;
}
.main a:hover,
.main a:focus {
  color: #2a6496;
  text-decoration: underline;
}
.main a:visited {
  color: #428bca;
  text-decoration: none;
}
.main dd {
  font-size: 12px;
  margin-left: 0px;
}
.main h2.name span.type-signature {
  font-weight: normal;
  top: -3px;
}
.main h2.name span.type {
  margin-left: 5px;
}
.main h4.name span.type-signature {
  font-weight: normal;
  top: -2px;
}
.main h4.name span.type {
  margin-left: 5px;
}
.main h4.name span.arrow-right {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 7px 0px 7px;
  color: #808080;
}
.main h4.name span.arrow-right:empty {
  width: 15px;
}
.main h4.name span.arrow-right:before {
  content: "\25b6";
}
.main h4.name span.returnType {
  margin-left: 3px;
  background-color: transparent !important;
  color: #808080 !important;
  font-weight: normal !important;
}
.main span.type-signature {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  font-size: 11px;
  padding: 2px 5px;
  margin-right: 5px;
}
.main span.type-signature.static {
  background-color: #779c34 !important;
  color: #ffffff;
}
.main span.type-signature.abstract {
  background-color: #d96629 !important;
  color: #ffffff;
}
.main span.type-signature.inherited,
.main span.type-signature.overrides {
  background-color: #888888 !important;
}
.main span.type-signature.inherited a,
.main span.type-signature.overrides a {
  position: relative;
  top: 1px;
  color: #ffffff;
}
.main span.type-signature.string {
  background-color: #888888 !important;
  color: #ffffff;
}
.main span.type-signature.number,
.main span.type-signature.integer,
.main span.type-signature.float,
.main span.type-signature.boolean {
  background-color: #888888 !important;
  color: #ffffff;
}
.main span.type-signature.object,
.main span.type-signature.array {
  background-color: #2a6496 !important;
  color: #ffffff;
}
.main span.type-signature.namespace {
  background-color: #808080 !important;
  color: #ffffff;
}
.main .subsection-title {
  font-size: 16px;
  margin-top: 30px;
  color: #779c34;
}
.main .subsection-list {
  font-size: 12px;
}
.main .description {
  margin: 10px 0px;
  font-size: 13px;
  font-style: italic;
}
.main .description ul,
.main .description ol {
  margin-bottom: 15px;
}
.main .description p {
  font-size: 13px;
}
.main .description h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}
.main .description pre {
  margin: 10px 0;
}
.main .tag-source {
  font-size: 12px;
}
.main dt.tag-source {
  margin-top: 5px;
}
.main dt.tag-todo {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background-color: #2a6496;
  color: #ffffff;
  font-size: 10px;
  padding: 2px 5px;
  top: -2px;
}
.main .tag-deprecated {
  display: inline-block;
  font-size: 10px;
}
.main .important {
  background-color: #D99B28;
  color: #333333;
  padding: 2px 5px;
  border-radius: 3px;
}
.main .nameContainer {
  position: relative;
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid #e1e1e1;
}
.main .nameContainer .tag-source {
  position: absolute;
  top: 17px;
  right: 0;
  font-size: 10px;
}
.main .nameContainer .tag-source a {
  color: #808080;
}
.main .nameContainer.inherited {
  color: #808080;
}
.main .nameContainer h4 {
  margin-right: 150px;
  margin-bottom: 10px;
}
.main .nameContainer h4 .signature {
  font-weight: normal;
  margin-left: 3px;
}
.main .nameContainer h4 .type-signature.type a {
  color: #ffffff;
}
.main pre {
  display: block;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
}
.main pre code {
  font-size: 11px !important;
  line-height: 16px !important;
  color: #333333;
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: transparent;
}
.main table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
}
.main table th {
  padding: 3px 3px;
  text-align: left;
}
.main table td {
  vertical-align: top;
  padding: 5px 3px;
}
.main table .name {
  width: 120px;
  font-size: 12px;
}
.main table .name span {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9dde5;
  border-radius: 4px;
}
.main table .subrowlevel_1 .name span {
  margin-left: 30px;
  color: #f9dde5;
  background-color: #cb607b;
}
.main table .subrowlevel_2 .name span {
  margin-left: 60px;
}
.main table .subrowlevel_3 .name span {
  margin-left: 90px;
  color: #f9dde5;
  background-color: #cb607b;
}
.main table .subrowlevel_4 .name span {
  margin-left: 120px;
}
.main table .subrowlevel_5 .name span {
  margin-left: 150px;
  color: #f9dde5;
  background-color: #cb607b;
}
.main table .subrowlevel_6 .name span {
  margin-left: 180px;
}
.main table .type {
  width: 120px;
  color: #aaaaaa;
  font-size: 12px;
}
.main table .attributes {
  width: 120px;
  color: #aaaaaa;
  font-size: 12px;
}
.main table .default {
  width: 120px;
  font-size: 12px;
}
.main table .description {
  font-size: 12px;
  font-style: normal;
}
.main table .description p {
  margin: 0;
}
.main table .optional {
  float: left;
  border-radius: 3px;
  background-color: #dddddd !important;
  font-size: 10px;
  padding: 2px 4px;
  margin-right: 5px;
  color: #808080;
}
.main .readme p {
  margin-top: 15px;
  line-height: 1.2;
  font-size: 14px;
}
.main .readme h1 {
  font-size: 26px;
}
.main .readme h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.main .readme li {
  font-size: 14px;
  margin-bottom: 10px;
}
.main article ol,
.main article ul {
  margin-left: 25px;
}
.main article ol > li {
  list-style-type: decimal;
  margin-bottom: 5px;
}
.main article ul > li {
  margin-bottom: 5px;
  list-style-type: disc;
}
.main dd.member-content .details {
  margin-left: 30px;
}
.main dd.member-content .details .subsection-title {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 1px solid #e1e1e1;
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 0.8em;
  color: gray;
}
